body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#screen {
    display: grid;
    justify-items: end;
    margin-top:3%;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    min-width: 20%;
    height: 80px;
    background-color: gainsboro;  
    color: black;
    
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7,1fr);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 35%;
    min-width: 20%;
    min-height: 400px;
}

#calculator output {
    text-align: right;
    padding-right: 20px;
    border: 1px solid grey;;
    background-color: lightgreen;
}

#calculator button {
    border: 1px solid grey;;
}

button:hover {
    transform: scale(1.03);
    padding:1px;
    border: 1px solid #96e6a1;;
    box-shadow: 0 0 0.5em #96e6a1;
}

.fourCells {
    grid-column-start: 1;
    grid-column-end: 5;
    
}

.delete {
    background-color: gainsboro;
}

.delete:hover {
    transform: scale(1.03);
    padding:1px;
    border: 1px solid #96e6a1;;
    box-shadow: 0 0 0.5em coral;
}

.operator {
    background-color: gainsboro;
}

.operator:hover {
    transform: scale(1.03);
    padding:1px;
    border: 1px solid #96e6a1;;
    box-shadow: 0 0 0.5em gold;
}

#footer {
    display: flex;;
    margin-bottom: 0px;
    position: absolute;
    height: 5%;
    width: 99%;
    background-color:#FFFFFF; 
    text-align: center;
    bottom: 0;
}

#footer p {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-content: center;
    align-content: center;
}

#footer a {
    color: inherit;
}

#footer svg {
    margin-left: 7px;
}